
.lg-banner {
	height:740px;
	width:100%;
	text-align: center;
	margin: 0 auto;
}
.tall-banner {
	height:435px;
	width: 100%;
	text-align: center;	
	margin-right: 30px;
}
.logo {
	height: 100px;
	text-align: center;	
}
.img-thumbnail {
	width: 100%;
}
#footer {
	height: 100px;
}

.sm-banner-caption{
	position: absolute;
	z-index: 10;
	bottom: 0;
	font-family: z;
	background-color: black;
	color: white;
	padding: 2px 10px 2px 10px;
}