.logo {
	text-align: center;	
}

#bc {
	font-size: 24px;
}

.sm-pic{
	width: 49%;
}
.left-most {
	width: 100%;
}
.img-caption {
	position: absolute;
	background-color: black;
	bottom: 5%;
	color: white;
	width: 70%;
	padding: 10px 10px 10px 10px;	
	opacity: 0.8;

}
.fix-height {
	height: 740px;
}
.margin-div {
	height: 5%;
}
.navbar {
	top:70%;
}
.cancel-padding {
	padding: 0;
}